# Rename to .env and fill in with appropriate values.

# ElasticSearch service
ELASTICSEARCH_URI = "https://example.bonsaisearch.net.example.com:443"
ELASTICSEARCH_USERNAME = "username"
ELASTICSEARCH_PASSWORD = "password"

# MySQL database
MYSQL_HOST = "db"
MYSQL_ROOT_PASSWORD = "root_password"
MYSQL_DATABASE = "streamingonlinedb"
MYSQL_USER = "streaming_user"
MYSQL_PASSWORD = "user_password"

# Eureka server
EUREKA_SERVER = "eureka-server"
EUREKA_PORT = "8761"
